<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shaunslib</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

	<link rel="stylesheet" href="/static/style.css">

</head>
<body>

<div class="image-container">
  <img src="{{ url_for('static', filename='yuri_boi.png') }}" alt="Image">
</div>
<div class="login-section">
	<h2>Sign In</h2>
	<form action="/login" method="POST"> <!-- Added the action attribute and set it to the appropriate URL -->
		<input type="username" id="username" name="username" placeholder="Username">
		<input type="password" id="password" name="password" placeholder="Password">

		<a href="#placeholder" class="register-link">
		<button class="login-button" type="submit">Login</button>
		</a>
		<a href="{{ url_for('signup') }}" class="register-link">
			<button class="register-button" type="button">Sign Up</button>
		</a>
	</form>
</div>

</body>
</html>

