<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shaunslib</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="/static/style.css">

</head>
<body>

<div class="image-container">
  <img src="{{ url_for('static', filename='yuri_boi.png') }}" alt="Image">
</div>
<div class="login-section">
	<h2>Login</h2>
	<form>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username">
		
		<label for="password">Password:</label>
		<input type="password" id="password" name="password">
		
		<button type="submit">Login</button>
	</form>
</div>	

</body>
</html>

